*{
    text-align: right;
}



body{
    
    background-image: url(https://plus.unsplash.com/premium_photo-1676478746894-95d39780d573?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;

}




p{
    color: red;
    text-align: center;
    border: 5px dotted purple;
    cursor: cell;
}

p{
    color: blueviolet 
   
}

p{
    color: green;
    /* text-decoration: line-through; */
    /* text-transform: uppercase; */
    line-height: 60px;
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
    font-family: 'Poiret One' ,cursive;
    


}

img {
    float: right;
    padding: 85px 0px;
   

}

footer {
    clear: both;
    text-align: center;
}
li{
    list-style: none;
    display: inline-block;
}

.classproperty:last-child{
    border: 5px solid rgb(26, 0, 128);
}

.classpropertyfirst {
    color: blueviolet;
}

#idprop {
    background-color: chocolate;
}