h2{
    color: blue;
}

.boxmodel {
    border: 5px solid rgb(207, 80, 16);
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin: 15px 20px 15px 20px;
    width: 30px;
    height: 50px;
 
}

p{
    font-size: 20px;
}

span{
    font-size: 2em;
}

h5{
    font-size: 1rem;
}