img{
    width: 400px;
    height: 350px;
    margin: 10px;
    transition: all 1s;

}

img:hover {
    transform: scale(1.1);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

h1{
     font-family: 'Times New Roman', Times, serif;
     font-size: 3em;
     border-bottom: 2px solid yellowgreen;
     border-left: 3px solid yellowgreen;
     width: 300px;
     text-align: center;
     box-shadow: 2px 2px 3px yellow;
     
     margin: 0px;
      margin-bottom: 11px;
     
    
    
    
}
body{
    margin:   0px;
     margin-top: 10px;
    
}
